<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Flights</title>
</head>
<body>
    <header><h1>Flights</h1></header>
    <%- include('./includes/nav.ejs', {token : token}) %>

    <% flights.forEach((flight) => { %>
        <div class="flight">
             <h2>From: <%= flight.from %></h2>
                <h2>To: <%= flight.to %></h2>
                <p>Date: <%= flight.date %></p>
                <p>Price: <%= flight.price %>€</p>
                <h5>Company: <%= flight.company %></h5>

                <button>
                    <a href="/api/flights/<%= flight.id %>">Show more</a>
                </button>
        </div>
    <% });%>

</body>
</html>